IMPORTING THE DEPENDENCIES

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

:

DATA COLLECTION AND PREPROCESSING

In [ ]:
titanic_dataset = pd.read_csv("titanic.csv")

In [ ]:
titanic_dataset.head()

In [ ]:
titanic_dataset.shape

In [ ]:
titanic_dataset.info()

In [ ]:
titanic_dataset.isnull().sum()

HANDLING THE MISSING VALUES

In [ ]:
#Dropping the Cabin column from dataset.
titanic_dataset = titanic_dataset.drop(columns="Cabin" , axis=1)

In [ ]:
#Replacing the age column with mean value
#Inplace true is not necessary it seems because now by default it changes in place if it is mean.
titanic_dataset["Age"].fillna(titanic_dataset["Age"].mean())

In [ ]:
#Replacing Embarked null with mode value
print(titanic_dataset["Embarked"].mode()[0])

In [ ]:
titanic_dataset["Embarked"].fillna(titanic_dataset["Embarked"].mode()[0] , inplace=True)

In [ ]:
#To check the missing values now.
titanic_dataset.isnull().sum()

DATA ANALYSIS

In [ ]:
#Getting some statistical measures about the data
titanic_dataset.describe()

In [ ]:
titanic_dataset["Survived"].value_counts()

DATA VISUALIZATION

In [ ]:
sns.countplot(x = "Survived" , data=titanic_dataset)

In [ ]:
sns.countplot(x = "Sex" , data=titanic_dataset)

In [ ]:
#Number of survivors genderwise
sns.countplot(x = "Sex" , hue="Survived" , data=titanic_dataset)

ENCODING THE CATEGORICAL COLUMN

In [ ]:
titanic_dataset["Sex"].value_counts()

In [ ]:
titanic_dataset["Embarked"].value_counts()

In [ ]:
#Converting the values
titanic_dataset.replace({'Sex' : {'male' : 0 , 'female' : 1} ,'Embarked' : {'S' : 0 , 'C' : 1 , 'Q' : 2}} , inplace=True)

In [ ]:
titanic_dataset.head()

SEPARATING FEATURES AND TARGET

In [ ]:
X = titanic_dataset.drop(columns = ["PassengerId" , "Name" , "Ticket" , "Survived"] , axis = 1) 
Y = titanic_dataset["Survived"]

In [ ]:
print(X)

In [ ]:
print(Y)

SPLITTING THE DATA INTO TRAINING DATA AND TEST DATA

In [ ]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size=0.2 , random_state=2)